<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgit Home</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>


    <main class="container-fluid">
        <div class="text-center" style="margin: 8rem;">

            <section class="card-body">
                <img src="https://via.placeholder.com/150" />
                <h1 class="card-title">BudgitBuddy</h1>
                <p class="card-text">A financial planner that's built with you in mind.</p>
            </section>

            <form style="margin-top: 8rem;">
                <div class="container" style="width: 50rem; margin-top: 2rem;">
                    <ul class=" nav nav-tabs" id="nav-tabs1">
                        <li class=" active justify-content-end"><a data-toggle="tab" href="#logIn">LOG IN</a></li>
                        <li><a data-toggle="tab" href="#signUp">SIGN UP</a></li>
                    </ul>

                    <div class="tab-content" id="tab-content1">
                        <div id="logIn" class="tab-pane fade in active">
                            <h3>LOG IN</h3>
                            <input class="email-login" placeholder="Email" id="login-email">
                            <input class="password-login" placeholder="Password" id="login-password">
                            <nav>
                                <!-- Conditionally render login or logout links -->
                                {{#if logged_in}}
                                <a href="/overview">profile</a> |
                                <button class="button-fancy" id="logout">logout</button>
                                {{else}}
                                <a href="/login">Login</a>
                                {{/if}}
                            </nav>
                        </div>

                        <div id="signUp" class="tab-pane fade">
                            <h3 style="margin: 2rem">SIGN UP</h3>
                            <input placeholder="Email" style="margin: 2rem">
                            <input placeholder="Password" style="margin: 2rem">
                            <nav>
                                <!-- Conditionally render login or logout links -->
                                <a href="/login">Sign Up</a>

                            </nav>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </main>




</body>