<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgit Home</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <a href="/">Budget Buddy</a>
            </h1>
            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/login">profile</a> |
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <button id="fancy-button"><a href="/login">login</a></button>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    <div id="signUp" class="tab-pane fade">
        <h3>SIGN UP</h3>
        <input class="row" placeholder="Email">
        <input class="row" placeholder="Password">
        <nav>
            <!-- Conditionally render login or logout links -->
            <a href="/login">Sign Up</a>

        </nav>
    </div>
    </div>
    </div>
    </form>

    </div>
    </main>
    <footer>

    </footer>
    </div>




</body>