<div class="container" style="height:100%">
  <div class="row justify-content-center bg-success">
    <div class="col-3 h-50">
      One of three columns
    </div>
    <div class="col-3 h-50">
      One of three columns
    </div>
    <div class="col-3">
      One of three columns
    </div>
  </div>
  
  </div>
</div>

<script src="path/to/chartjs/dist/chart.umd.js"></script>
<script>
    const myChart = new Chart(ctx, {...});
</script>