<div class="m-5 flex-column justify-space-around">
        <header class="display-flex justify-space-between">
            <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">

                    <a class="nav-link active" href="#">
                        <img src="analysis.png" id="icon" />
                        <span>OVERVIEW</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="accounts.png" id="icon" />
                        <span>CHECKBOOK</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="objective.png" id="icon" />
                        <span>GOALS</span>
                    </a>
                </li>
            </ul>
        </header>
    </div>