<div style="background-image: url('assets/background.png');height: 1000px; background-color: #E3F3FF">

  <header class="text-center" style="margin: 1rem;">
    <section class="card-body text-center">
      <img src="assets/BudgetBuddyLogo.png" style="width: 500px;" />
      <!-- <h1 class="card-title">BudgitBuddy</h1> -->
      <h2 class="card-text mt-1" style="color: #0f6aaa; font-weight: bold;">A FINANCIAL PLANNER THAT'S BUILT WITH
        YOU IN MIND
      </h2>
    </section>
  </header>

  <main class="container-fluid">
    <div class="text-center" style="margin: 4rem;">
      <div class="container mt-5" style="width: 40rem;">

        <div class="" style="margin-top: 20px;">
          <div class="col d-flex justify-content-around "><button class="tablink nav-tabs" type="button"
              onclick="openPage('logIn')" id="defaultOpen">LOGIN</button>

            <button class="tablink nav-tabs p-0" type="button" onclick="openPage('signUp')">SIGN UP</button>
          </div>
        </div>

        <div class="tab-content" id="tab-content1" style="background-color: #E3F3FF">

          <div id="signUp" class="tabcontent text-center mt-3 mb-3">
            <h3 class="mb-4" style="color: #0f6aaa;font-weight: bold;">SIGN UP</h3>
            <form class="signup-form">
              <div class="m-3">
                <input type="email" class="form-control text-center" placeholder="Email" id="email-signup" name="email"
                  required />
              </div>
              <div class="m-3">
                <input type="password" class="form-control text-center" placeholder="Password" id="password-signup"
                  name="password" required />
              </div>
              <button type="submit" class="btn  mt-3" id="button-fancy">SIGN UP</button>
            </form>
          </div>

          <div id="logIn" class="tabcontent text-center mt-3 mb-3">
            <h3 class="mb-4" style="color: #0f6aaa; font-weight: bold;">LOGIN</h3>
            <form class="login-form">
              <div class="m-3">
                <input type="email" class="form-control text-center" placeholder="Email" id="login-email" name="email"
                  required />
              </div>
              <div class="m-3">
                <input type="password" class="form-control text-center" placeholder="Password" id="login-password"
                  name="password" required />
              </div>
              <button type="submit" class="btn mt-3" id="button-fancy">LOGIN</button>
            </form>
          </div>

        </div>
        <script src="js/login.js"></script>
      </div>
    </div>
  </main>

</div>

<script>
  function openPage(pageName, elmnt) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {

    }
    document.getElementById(pageName).style.display = "block";

  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>