<header>
  <div class="" style="margin-top: 20px;">
    <div class="col d-flex justify-content-end "><button class="tablink nav-tabs" type="button"
        onclick="openPage('overview')" id="defaultOpen"><img src="analysis.png" id="icon" />OVERVIEW</button>

      <button class="tablink nav-tabs" type="button" onclick="openPage('checkbook')"><img src="accounts.png"
          id="icon" />CHECKBOOK</button>

      <button class="tablink nav-tabs" type="button" onclick="openPage('goals')"><img src="objective.png"
          id="icon" />GOALS</button>
    </div>
  </div>
</header>




<div id="overview" class="tabcontent text-center mt-5">
  <h3>OVERVIEW</h3>
  <p>Let's see your numbers</p>
  {{!-- add charts here --}}
</div>

<div id="checkbook" class="tabcontent text-center mt-5">
  <h3>CHECKBOOK</h3>
  <p>Would you like to add an income or expense?</p>
</div>

<div id="goals" class="tabcontent text-center mt-5">
  <h3>GOALS</h3>
  <p>Set some goals!</p>
</div>


<script>
  function openPage(pageName, elmnt) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {

    }
    document.getElementById(pageName).style.display = "block";

  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>