<header>
  <button type="submit" id="logout">LOGOUT</button>
  <div class="" style="margin-top: 20px;">
    <div class="col d-flex justify-content-end"><button class="tablink nav-tabs" type="button"
        onclick="openPage('overview')" id="defaultOpen"><img src="assets/analysis.png" id="icon" />OVERVIEW</button>

      <button class="tablink nav-tabs" type="button" onclick="openPage('checkbook')"><img src="assets/accounts.png"
          id="icon" />CHECKBOOK</button>

      <button class="tablink nav-tabs" type="button" onclick="openPage('goals')"><img src="assets/objective.png"
          id="icon" />GOALS</button>
    </div>
    <hr style="margin: auto;margin-top: -4px;
            border: 2px solid #FFC43D;" />
  </div>
</header>


<div id="overview" class="tabcontent text-center pt-5"
  style="background-image: url('assets/background.png');height: 1600px; background-color: #E3F3FF">
  <h3><strong>OVERVIEW</strong></h3>
  <h4>Let your budget follow the <br><strong> 50-30-20 Rule</strong></h4>
  <div class="container d-flex justify-content-center">
    <div class="p-5" style="width: 600px;"><canvas id="wnChart"></canvas></div>
    <div class="p-5" style="width: 600px;"><canvas id="myBreakdownChart"></canvas></div>
  </div>

  {{!-- FOR JESS: Ideally, I'd love for the left chart to be an example and the right chart to be what we (budgetbuddy(
  recommend users strive for. The chart at the bottom then compares the two. If you could space out the 'lets delve
  deeper' and have more of a scroll towards the bottom graph, that would be ideal. Just to make it seem moreso like
  seperate sections--}}
  <div class="container d-flex justify-content-center">
    <h4>Let's delve a little deeper</h4>
  </div>

  <div class="container d-flex justify-content-center">
    <div class="p-5" style="width: 800px;"><canvas id="radarChartYer"></canvas></div>
  </div>

</div>

<div id="checkbook" class="tabcontent text-center pt-5"
  style="background-image: url('assets/background.png');height: 1000px; background-color: #E3F3FF">

  <h3><strong>CHECKBOOK</strong></h3>
  <h4>Would you like to add an income or expense?</h4>

  <form class="container rounded-4" id="checkbookForm">
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input id="amountCheckbook" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
        placeholder="Amount" name="amount" />
    </div>

    <input id="descriptionCheckbook" type="text" class="form-control mb-3" aria-label="Description"
      placeholder="Description" name="description" />

    <select class="form-select mb-3" aria-label="Default select example">
      <option selected>Select a Category</option>
      <option value="Food">Food</option>
      <option value="Utilities">Utilities</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Other">Other</option>
    </select>

    <div>
      {{!-- <button type='submit' value='Submit' class="btn btn-danger mt-4 me-4" id="addIncome">ADD INCOME</button>
      --}}
      <button type='submit' value='Submit' class="btn btn-danger mt-4 ms-4" id="addExpense">ADD EXPENSE</button>
    </div>

  </form>
  <div class="container rounded-4 table-container" id="boxes2">

    <form class="container rounded-4 table-container" id="checkbookForm">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>

          {{!-- {{#each checkbook}} --}}
          {{!-- <td>{{this.is_withdrawal}}</td> --}}
          {{!-- <td>{{checkbook.category}}</td>
          <td>{{checkbook.description}}</td>
          <td>{{checkbook.amount}}</td> --}}
          {{!-- {{/each}} --}}
        </tbody>
      </table>
    </form>
  </div>

</div>

<div id="goals" class="tabcontent text-center pt-5"
  style="background-image: url('assets/background.png');height: 1000px; background-color: #E3F3FF">
  <h3><strong>GOALS</strong></h3>
  <h4>Set some goals!</h4>

  <div class="row">
    <div class="container rounded-4" id="boxes">

      <input type="text" class="form-control mb-3" aria-label="Add goal" placeholder="Add your goal" />

      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Amount" />
      </div>

      <div>
        <button class="btn btn-danger mt-4">Add Goal</button>
      </div>

    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-6">
      <div class="container rounded-4" id="boxes2">

        <select class="form-select mb-3" aria-label="Default select example">
          <option selected>Select your goal</option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>

        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
            placeholder="New Amount" />
        </div>

        <div>
          <button class="btn mt-4" id="updateBtn" style="
                        background-color: #06D6A0; color: white;">Update Goal</button>
          <button class="btn btn-danger mt-4" id="deleteBtn">Delete Goal</button>
        </div>

      </div>
    </div>

    <div class="col-6">
      <div class="container rounded-4 align-middle" id="boxes2">

        <h5 class="">Example of goal</h5>
        <br />
        <p>Example of amount left</p>
        <div>
          <img id="icon2" src="./assets/accounts.png" />
        </div>

      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/overview.js"></script>
<script src="js/logout.js"></script>


<script>
  function openPage(pageName, elmnt) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {

    } document.getElementById(pageName).style.display = "block";
  } // Get the element with id = "defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>

<script>
  const WantsNeedsChart = document.getElementById('myBreakdownChart'); new Chart(WantsNeedsChart, {
    type: 'doughnut',
    data: {
      labels: ['Needs', 'Wants', 'Savings'],
      datasets: [{
        label: 'Budgeting',
        data: [50, 30, 20],

        backgroundColor: ['rgb(76, 201, 240)', 'rgb(247, 37, 133)', 'rgb(86, 11, 173)'],
        hoverOffset: 4
      }]
    },
    options: {
      responsive: true,
      tooltips: {
        enabled: true
      },
      legend: {
        display: false
      },
      layout: {
        padding: {
          left: 0,
          right: 0
        }
      }
    }
  })
</script>

<script>
  const exampleChart = document.getElementById('wnChart'); new Chart(exampleChart, {
    type: 'doughnut',
    data: {
      labels: ['Entertainment', 'Food', 'Utilities', 'Housing', 'Savings', 'Insurance', 'Transportation', 'Other'],
      datasets: [{
        label: 'Budgeting',
        data: [225, 300, 150, 1000, 600, 250, 50, 200],

        backgroundColor: ['rgb(247, 37, 133)', 'rgb(181, 23, 158)', 'rgb(114, 9, 183)', 'rgb(58, 12, 163)', 'rgb(63, 55, 201)', 'rgb(67, 97, 238)', 'rgb(72, 149, 239)'],
        backgroundColor2: ['rgb(27, 154, 170)', 'rgb(239, 71, 111)', 'rgb(6, 214, 160)', 'rgb(248, 255, 229)', 'rgb(255, 196, 61)',],
        hoverOffset: 4
      }]
    },
    options: {
      responsive: true,
      tooltips: {
        enabled: true
      },
      legend: {
        display: false
      },
      layout: {
        padding: {
          left: 0,
          right: 0
        }
      }
    }
  })
</script>

<script>
  const exRadarChart = document.getElementById('radarChartYer'); new Chart(exRadarChart, {
    type: 'radar',
    data: {
      labels: ['Needs', 'Wants', 'Savings'],
      datasets: [{
        label: 'Example',
        data: [59.4, 16.8, 23.8],

        backgroundColor: ['rgb(253, 197, 245)'],
        borderColor: ['rgb(247, 174, 248)'],
        hoverOffset: 4
      }, {
        label: 'Goal',
        data: [50, 30, 20],

        backgroundColor: ['rgb(114, 221, 247)'],
        borderColor: ['rgb(128, 147, 241)'],
        hoverOffset: 4
      }]
    },
    options: {
      responsive: true,
      tooltips: {
        enabled: true
      },
      legend: {
        position: 'bottom'
      },
      layout: {
        padding: {
          left: 0,
          right: 0
        }
      }
    }
  });
</script>