a,
span {
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

.nav-item:hover {
    background-color: #06D6A0;
    color: white;
}

#icon {
    width: 30px;
    height: 30px;
}

#button-fancy {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-fancy:hover,
#button-fancy:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#button-fancy:active {
  background: var(--color);
  color: #fff;
}